<tr id="<%= dom_id physician %>">
  <th scope="row"><%= physician.id %></th>
  <td><%= physician.name%></td>
  <td><%= physician.email %></td>
  <td><%= physician.unique_id %></td>
  <% if defined?(show)%>
    <td><%= physician.appointments.count %></td>
  <%end%>
  <td>
    <div class="d-inline-flex">
    <%= link_to "Show", physician_path(physician), class: "btn btn-info" if defined?(show) %>
    <%= link_to "Edit", edit_physician_path(physician), class: "btn btn-success"%>
    <%= button_to "Destroy", physician, method: :delete, class: "btn btn-danger", form: {data: { turbo_confirm: 'Are you sure?' } }%>
    </div>
  </td>
</tr>