<!DOCTYPE html>
<html>
  <head>
    <title>Assignment1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller.class.name.split("::").first=="HasManyThrough"%>
      <%= render "layouts/nav_has_many_through"%>
    <% elsif controller.class.name.split("::").first=="HasAndBelongsToMany"%>
      <%= render "layouts/nav_has_and_belongs_to_many"%>
    <%end %>
    <%= yield %>
  </body>
</html>


